<div id="myApp">
  <mat-toolbar class="toolbar" color="primary">
    <button [routerLink]="['home']" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span id="shopName">SmolDog Web</span>
    <form class="example-form">
    </form>
    <span class="example-spacer"></span>
    <div class="sign">
      <div class="button">
      </div>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
        User:
        </mat-panel-title>
        <mat-panel-description>
          <img id="img"  [src]="user?.photoURL" /><p id="userName">{{user?.displayName}}</p><button style="background-color: gray;"  mat-button *ngIf="!(user$ |async)"  (click)="login()">SIGN IN</button>
        </mat-panel-description>
        </mat-expansion-panel-header>
        <button style="background-color: gray;" mat-button *ngIf="(user$ |async)"  (click)="logout()">SIGN OUT</button>
        </mat-expansion-panel>
    </div>
  </mat-toolbar>
</div>
<div *ngFor="let new of (new$|async)?.news">{{new.title}}</div>
<div>{{(new$|async)?.numberOfNews}}</div>
<router-outlet></router-outlet>
<!-- <img src="../assets/5673759.jpg"> -->


