<div class="content">
  <div>
    <div class="home" *ngFor="let news of (new$ | async)" >
      <p class="text">{{news.type_of}}</p>
      <p class="text">{{news.id}}</p>
      <p class="text"> {{news.title}}</p>
      <p class="text">{{news.description}}</p>
      <p class="text">{{news.readable_publish_date}}</p>
      <div class="img">
        <p class="img_con"><img [src]="news.cover_image"></p>
      </div>
      <!-- <div class="img">
        <p class="img_con"><img [src]="news.social_image" alt=""></p>
      </div> -->
      <p class="text">{{news.url}}</p>
      <p class="text">{{news.comments_count}}</p>
    </div>
  </div>
</div>

